<div *ngIf="feed">

    <h2>{{feed.title | uppercase}}</h2>
    <div>
      <label for="feed-title">Feed title: </label>
      <textarea id="feed-title" [(ngModel)]="feed.title" rows="1" cols="50"> </textarea>
    </div>
    <br>
    <div>
        <label for="feed-content">Feed content: </label>
        <textarea id="feed-title" [(ngModel)]="feed.content" rows="4" cols="50"> </textarea>
    </div>

    <button type="button" (click)="goBack()">Back to Feeds</button>
    <button type="button" (click)="updateFeed()">Update Feed</button>
</div>